#version: "3.9"
#
#services:
#  db:
#    image: postgres:16
#    container_name: postgres_db
#    restart: always
#    environment:
#      POSTGRES_USER: arihant
#      POSTGRES_PASSWORD: arihant
#      POSTGRES_DB: lms
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#
#volumes:
#  postgres_data:

version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: arihant
      POSTGRES_PASSWORD: arihant
      POSTGRES_DB: lms
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    # build: .
    image: "arihantjain916/lms-spring"
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/lms
      DB_USER: arihant
      DB_PASSWORD: arihant
      CLOUDINARY_URL: ${CLOUDINARY_URL}
      JWT_SECRET: ${JWT_SECRET}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
    ports:
      - "8598:8080"

volumes:
  postgres_data:
