#version: "3.9"
#
#services:
#  db:
#    image: postgres:16
#    container_name: postgres_db
#    restart: always
#    environment:
#      POSTGRES_USER: arihant
#      POSTGRES_PASSWORD: arihant
#      POSTGRES_DB: lms
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#
#volumes:
#  postgres_data:


version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: arihant
      POSTGRES_PASSWORD: arihant
      POSTGRES_DB: lms
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/lms
      DB_USER: arihant
      DB_PASSWORD: arihant
      CLOUDINARY_URL: cloudinary://167819149517745:UvL0SIFY1wpKFSveu_tO_34Yhq4@dbbyts6io
      JWT_SECRET: "$$}M6bDU6z2|KT0vzw-JP5PM"
      GEMINI_API_KEY: "AIzaSyBmrdSoRiFeftcDSWDwhLe_T0vzw-JP5PM"
    ports:
      - "8598:8080"

volumes:
  postgres_data:
